{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>FooBar Portal</title>
</head>
<body>
	<h1>Change Password Form</h1>
  	<form id="upload_form" action="{% url 'change_password' %}" method="post">
		{% csrf_token %}
		<ul class="">
        	{% if user.is_authenticated %}
        		<input type="text" class="form-control" placeholder="Old Password" name="oldpassword" id="oldpassword">
				<input type="text" class="form-control" placeholder="New Password" name="newpassword" id="newpassword">
				<input type="text" class="form-control" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword">
				<button class="btn btn-default" type="submit" value="Login">Change</button>
			{% else %}
				<h2>User not logged in</h2>
			{% endif %}
			<a  href="/signup" class="btn btn-default">Sign Up</a>							
		</ul>			
	</form>
</body>
</html>